In [46]:
# Connect to the database
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()
db_url = f'mysql+pymysql://root:{password}@localhost/sakila'

········

In [47]:
query_1 = """
SELECT f.film_id, f.title, f.description, fc.category_id,
f.language_id, f.length/60 as hours_length, f.rental_duration,
f.release_year, f.rating, 
f.special_features, 
ROUND(AVG(f.rental_duration)) * 24 AS avg_hours_rental_allowed,
ROUND(AVG(f.replacement_cost)) AS avg_replacement_cost,
count(fa.actor_id) as actors_in_film
FROM film f
JOIN film_category fc USING(film_id)
JOIN film_actor fa USING(film_id)
GROUP BY 1,2,3,4,5,6,7,8,9,10
ORDER BY 1, 11;  
"""
query_2 = '''
SELECT 
i.film_id,
COUNT(r.rental_id) AS num_rented_times,
p.amount AS rental_cost,
AVG(TIMESTAMPDIFF(hour, r.rental_date, r.return_date)) AS avg_hours_rented
FROM rental r
JOIN inventory i USING(inventory_id)
JOIN payment p USING(rental_id)
GROUP BY i.film_id, rental_cost;
'''

In [58]:
df1 = pd.read_sql(query_1, db_url)
df1.head()

,film_id,title,description,category_id,language_id,hours_length,rental_duration,release_year,rating,special_features,avg_hours_rental_allowed,avg_replacement_cost,actors_in_film
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6,1,1.4333,6,2006,PG,"Deleted Scenes,Behind the Scenes",144.0,21.0,10
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11,1,0.8000,3,2006,G,"Trailers,Deleted Scenes",72.0,13.0,4
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,6,1,0.8333,7,2006,NC-17,"Trailers,Deleted Scenes",168.0,19.0,5
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,11,1,1.9500,5,2006,G,"Commentaries,Behind the Scenes",120.0,27.0,5
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,8,1,2.1667,6,2006,G,Deleted Scenes,144.0,23.0,5

In [59]:
df2 = pd.read_sql(query_2, db_url)
df2.head()

   film_id  num_rented_times  rental_cost  avg_hours_rented
0        1                15         0.99           91.8667
1        1                 3         3.99          216.5000
2        1                 5         1.99          163.4000
3        2                 3         4.99           49.5000
4        2                 2         9.99          192.0000

In [60]:
frames = [df1, df2]
df = pd.concat(frames)
df

,film_id,title,description,category_id,language_id,hours_length,rental_duration,release_year,rating,special_features,avg_hours_rental_allowed,avg_replacement_cost,actors_in_film,num_rented_times,rental_cost,avg_hours_rented
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,21.0,10.0,NaN,NaN,NaN
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11.0,1.0,0.8000,3.0,2006.0,G,"Trailers,Deleted Scenes",72.0,13.0,4.0,NaN,NaN,NaN
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,6.0,1.0,0.8333,7.0,2006.0,NC-17,"Trailers,Deleted Scenes",168.0,19.0,5.0,NaN,NaN,NaN
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,11.0,1.0,1.9500,5.0,2006.0,G,"Commentaries,Behind the Scenes",120.0,27.0,5.0,NaN,NaN,NaN
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,8.0,1.0,2.1667,6.0,2006.0,G,Deleted Scenes,144.0,23.0,5.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4221,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8.99,168.0000
4222,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,4.99,46.3077
4223,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,6.99,117.2500
4224,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,7.99,150.3333
4225,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.99,218.0000

In [61]:
df = pd.concat(frames, axis = 1)
df

,film_id,title,description,category_id,language_id,hours_length,rental_duration,release_year,rating,special_features,avg_hours_rental_allowed,avg_replacement_cost,actors_in_film,film_id,num_rented_times,rental_cost,avg_hours_rented
0,1.0,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,21.0,10.0,1,15,0.99,91.8667
1,2.0,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11.0,1.0,0.8000,3.0,2006.0,G,"Trailers,Deleted Scenes",72.0,13.0,4.0,1,3,3.99,216.5000
2,3.0,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,6.0,1.0,0.8333,7.0,2006.0,NC-17,"Trailers,Deleted Scenes",168.0,19.0,5.0,1,5,1.99,163.4000
3,4.0,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,11.0,1.0,1.9500,5.0,2006.0,G,"Commentaries,Behind the Scenes",120.0,27.0,5.0,2,3,4.99,49.5000
4,5.0,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,8.0,1.0,2.1667,6.0,2006.0,G,Deleted Scenes,144.0,23.0,5.0,2,2,9.99,192.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000,1,8.99,168.0000
4222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000,13,4.99,46.3077
4223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000,4,6.99,117.2500
4224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000,3,7.99,150.3333
4225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000,1,10.99,218.0000

In [65]:
df = df2.set_index('film_id').join(data1.set_index('film_id'))
df.head()

,num_rented_times,rental_cost,avg_hours_rented,title,description,category_id,language_id,hours_length,rental_duration,release_year,rating,special_features,avg_hours_rental_allowed,avg_replacement_cost,actors_in_film
film_id,,,,,,,,,,,,,,,
1,15,0.99,91.8667,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,21.0,10.0
1,3,3.99,216.5000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,21.0,10.0
1,5,1.99,163.4000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,21.0,10.0
2,3,4.99,49.5000,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11.0,1.0,0.8000,3.0,2006.0,G,"Trailers,Deleted Scenes",72.0,13.0,4.0
2,2,9.99,192.0000,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11.0,1.0,0.8000,3.0,2006.0,G,"Trailers,Deleted Scenes",72.0,13.0,4.0

In [64]:
df.isnull().sum()

num_rented_times             0
rental_cost                  0
avg_hours_rented            47
title                       13
description                 13
category_id                 13
language_id                 13
hours_length                13
rental_duration             13
release_year                13
rating                      13
special_features            13
avg_hours_rental_allowed    13
avg_replacement_cost        13
actors_in_film              13
dtype: int64

In [66]:
df = df.dropna(axis=0)
df.isnull().sum()

num_rented_times            0
rental_cost                 0
avg_hours_rented            0
title                       0
description                 0
category_id                 0
language_id                 0
hours_length                0
rental_duration             0
release_year                0
rating                      0
special_features            0
avg_hours_rental_allowed    0
avg_replacement_cost        0
actors_in_film              0
dtype: int64

In [67]:
df

,num_rented_times,rental_cost,avg_hours_rented,title,description,category_id,language_id,hours_length,rental_duration,release_year,rating,special_features,avg_hours_rental_allowed,avg_replacement_cost,actors_in_film
film_id,,,,,,,,,,,,,,,
1,15,0.99,91.8667,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,21.0,10.0
1,3,3.99,216.5000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,21.0,10.0
1,5,1.99,163.4000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,21.0,10.0
2,3,4.99,49.5000,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11.0,1.0,0.8000,3.0,2006.0,G,"Trailers,Deleted Scenes",72.0,13.0,4.0
2,2,9.99,192.0000,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11.0,1.0,0.8000,3.0,2006.0,G,"Trailers,Deleted Scenes",72.0,13.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,1,8.99,168.0000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5.0,1.0,0.8333,3.0,2006.0,NC-17,"Trailers,Commentaries,Behind the Scenes",72.0,19.0,3.0
1000,13,4.99,46.3077,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5.0,1.0,0.8333,3.0,2006.0,NC-17,"Trailers,Commentaries,Behind the Scenes",72.0,19.0,3.0
1000,4,6.99,117.2500,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5.0,1.0,0.8333,3.0,2006.0,NC-17,"Trailers,Commentaries,Behind the Scenes",72.0,19.0,3.0
1000,3,7.99,150.3333,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5.0,1.0,0.8333,3.0,2006.0,NC-17,"Trailers,Commentaries,Behind the Scenes",72.0,19.0,3.0
1000,1,10.99,218.0000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5.0,1.0,0.8333,3.0,2006.0,NC-17,"Trailers,Commentaries,Behind the Scenes",72.0,19.0,3.0

In [68]:
df.corr()

,num_rented_times,rental_cost,avg_hours_rented,category_id,language_id,hours_length,rental_duration,release_year,avg_hours_rental_allowed,avg_replacement_cost,actors_in_film
num_rented_times,1.000000,-0.386197,-0.561566,-0.013007,NaN,-0.002707,0.247825,NaN,0.247825,0.021766,-0.002240
rental_cost,-0.386197,1.000000,0.596944,0.040509,NaN,0.014316,-0.241460,NaN,-0.241460,-0.035517,-0.029482
avg_hours_rented,-0.561566,0.596944,1.000000,0.002532,NaN,0.004230,0.166464,NaN,0.166464,-0.003279,-0.002195
category_id,-0.013007,0.040509,0.002532,1.000000,NaN,0.054424,0.004739,NaN,0.004739,-0.023194,0.006684
language_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hours_length,-0.002707,0.014316,0.004230,0.054424,NaN,1.000000,0.047765,NaN,0.047765,0.011444,0.025392
rental_duration,0.247825,-0.241460,0.166464,0.004739,NaN,0.047765,1.000000,NaN,1.000000,-0.016955,-0.007140
release_year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
avg_hours_rental_allowed,0.247825,-0.241460,0.166464,0.004739,NaN,0.047765,1.000000,NaN,1.000000,-0.016955,-0.007140
avg_replacement_cost,0.021766,-0.035517,-0.003279,-0.023194,NaN,0.011444,-0.016955,NaN,-0.016955,1.000000,-0.007805
actors_in_film,-0.002240,-0.029482,-0.002195,0.006684,NaN,0.025392,-0.007140,NaN,-0.007140,-0.007805,1.000000